<h1> Here are the cats: </h1>

 
    <% @cats.each do |cat| %>
        <h3> <%= cat.name %> </h3>
        <ul>
            <li><%= cat.description %></li>
            <li><%= cat.age %></li>
            <a href = <%= cat_url(cat) %> > see more! </a>
        </ul>   
    <% end %>